* {
    margin: 0px; 
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

html, body {
    background-color: #101010;
    color: #FFFFFF;
}

.header {}
.header .header-content {
    width: 600px;
    margin: 0px auto;
    display: flex;
    padding-top: 40px;
}
.header .header-content .content-left { 
	flex: 1;
	padding: 10px;
}
.header .header-content .content-left .logotipo {
    display: block;
    width: 32px;
    height: 32px;
    background-color: ff6a00;
}
.header .header-content .content-right {
	flex: 4;
	padding: 10px;
}
.header .header-content .content-right .menu {
    list-style: none;
    float: right;
}
.header .header-content .content-right .menu .item {
    float: left;
}
.header .header-content .content-right .menu .item a {
    display: block;
    padding: 7px 13px;
    
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}


.container {
    
}
.container .section {}
.container .section .section-content {
    width: 600px;
    margin: 0px auto;
}
.container .section .section-content .section-head {
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-weight: 600;
}
.container .section .section-content .section-body {
    padding: 10px 10px 10px 10px;
}
.container .section.projects .section-content .section-body {
    display: grid;
    width: 100%;
    grid-template-areas: "a a";
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-auto-rows: 180px;
    grid-gap: 10px;
}
.container .section.projects .section-content .section-body .project {
    
}
.container .section.projects .section-content .section-body .project .project-content {
    height: 100%;
    background-color: ff6a00;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    filter: grayscale(100%);
}
.container .section.projects .section-content .section-body .project .project-content:hover {
    filter: grayscale(0);
}
.container .section.projects .section-content .section-body .project .project-content:hover .title {
    visibility: visible;
}
.container .section.projects .section-content .section-body .project .project-content .title {
    position: absolute;
    bottom: 0px;
    visibility: hidden;
    display: inline-block;
    padding: 10px;
    background-color: #ff6a00;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
}
