* {
    margin: 0px; 
    padding: 0px;
    /*font-family: 'Nunito', sans-serif;*/
    font-family: 'Rubik', sans-serif;

}

html, body {
    background-color: #FFFFFF;
    color: #333333;
}
.wrapper { display: flex; }
.eq { flex: 1; }
.button {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #4b6cc1;
    border: 2px solid #4b6cc1;
    border-radius: 30px;
    text-align: center;
    transition: all ease .3s;
}
.button:hover {
    color: #4b6cc1;
    background-color: transparent;
    transform: scale(1.02);
}

.header {
    background-color: #191a1d;
}
.header .logotipo {
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    border-bottom: 4px solid #4b6cc1;
    text-decoration: none;
}
.header .logotipo .text {
    color: #FFFFFF;
}
.header .logotipo .text .dot-color {
    color: #4b6cc1;
}
.header .navigation-content {
    max-width: 750px;
    margin: 0px auto;
}
.header .navigation-content .wrapper .eq a{
    display: inline-block;
    width: 100px;
    padding: 30px 44px;
    text-decoration: none;
    text-align: center;
    color: #C1C1C1;
    font-size: 20px;
    font-weight: 400;
}
.header .navigation-content .wrapper .eq:hover a {
    transition: all ease .2s;
}
.header .navigation-content .wrapper .eq:hover a ,
.header .navigation-content .wrapper .eq a.selected {
    color: #FFFFFF;    
}




.container {
    padding: 20px 0 80px 0;
}
.container.dark {
    background-color: #191a1d;
}
.container .picture {
    margin: 0 auto;
    width: 197px;
    height: 220px;
    padding: 20px;
    background-color: #111215;
    border-radius: 15px;
}
.container .picture .image {
    width: 197px;
    height: 220px;
    object-fit: cover;
}
.container .content-title {
    padding-top: 40px;
    max-width: 750px;
    margin: 0px auto;
    text-align: center;
}
.container .content-title .title {
    font-size: 50px;
    font-weight: 600;
    color: #FFFFFF;
}
.container .content-title .sub-title {
    font-size: 20px;
    font-weight: 400;
    color: #6B6B6B;
}
.container .home-action {
    padding-top: 40px;
    width: 180px;
    margin: 0 auto;
}


.footer {
    background-color: #191a1d;
    padding: 20px 0;
}
.footer .footer-container {

    max-width: 750px;
    margin: 0px auto;
}
.footer .footer-container .wrapper {
    
}
.footer .footer-container .wrapper .eq {
    padding: 20px;
}
.footer .footer-container .wrapper .eq .text {
    color: #FFFFFF;
}
.footer .footer-container .wrapper .eq .text .title {
    font-weight: 400;
    font-size: 38px;
    padding-bottom: 10px;
}
.footer .footer-container .wrapper .eq .text .sub-title {
    font-size: 20px;
    font-weight: 400;
    color: #6B6B6B;
}
.footer .footer-container .wrapper .eq .button{
    width: 170px;
    margin-top: 20px;
}
.footer .footer-container .wrapper .eq .menu {
    list-style: none;
}
.footer .footer-container .wrapper .eq .menu .item {
    padding-bottom: 15px;
}
.footer .footer-container .wrapper .eq .menu .item .link {
    font-size: 20px;
    font-weight: 600;
    color: #6B6B6B;
    text-decoration: none;
}
.footer .footer-container .copyright {
    text-align: center;
    padding: 25px;
    color: #6B6B6b;
}